/* start golobal rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    padding: 0px;
    margin: 0px;
}

.container {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .container {
        width: 560px;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

html {
    scroll-behavior: smooth;
}

/* end gloable */




/* start componantes */
.speacial-heading {
    font-size: 100px;
    color: #ebeced;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0px;
}

.speacial-heading+p {
    margin: -30px 0 0;
    text-align: center;
    color: #797979;
}

@media (max-width: 576px) {
    .speacial-heading {
        font-size: 60px;
    }

    .speacial-heading+p {
        margin-top: -20px;
    }

}

/* end componates */



/* start variable  */
:root {
    --main-color: #10cab7;
    --secondery-color: #2c4755;
    --background-color: #f6f6f6;
    --section-padding: 60px;
    --main-transition: .3s;
}

/* end variable  */


/* start header  */
.header {
    padding: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header .logo {
    width: 60px;
}

.header .links {
    position: relative;

}

.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}

.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;


}

.header .links .icon span:first-child {

    width: 100%;
}

.header .links .icon span:nth-child(2) {
    width: 70%;
    transition: var(--main-transition);
}

.header .links .icon span:last-child {

    width: 100%;
}

.header .links ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    background-color: #cccccc76;
    position: absolute;
    right: 0px;
    top: calc(100% + 15px);
    min-width: 200px;
    display: none;
    z-index: 1;

}

.header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #cccccc59 transparent;
    position: absolute;
    right: 5px;
    top: -19px;

}

.header .links ul a {
    display: block;
    text-decoration: none;
    padding: 15px;
    color: #333;
    transition: var(--main-transition);
}

.header .links ul a:hover {
    padding-left: 30px;
}

.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #bcbaba;
}

.header .links:hover ul {
    display: block;
}

/* end header */
/* start landing */
.landing {
    background-image: url(../images/landing.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;

}

.landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 300px;
    max-width: 100%;

}

.landing .intro-text h1 {
    margin: 0px;
    color: var(--main-color);
    font-weight: bold;
    font-size: 50px;

}

.landing .intro-text p {
    line-height: 1.7;
    font-size: 20px;
}

/* end landing */
/*  start features  */
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--background-color);
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.features .feat {
    padding: 20px;
    text-align: center;
}

.features .feat i {
    color: var(--main-color);
    font-size: 30px;
}

.features .feat h3 {
    font-weight: 800;
    margin: 30px 0px;

}

.features .feat p {
    line-height: 1.6;
    color: #777;
}

/* end features  */



/* start servecies */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 100px;
}

.services .services-content .srv {
    display: flex;
    margin-bottom: 40px;
    /* align-items: flex-start; */
}

@media (max-width: 767px) {
    .services .services-content .srv {
        flex-direction: column;
        text-align: center;
    }
}

.services .services-content .srv i {
    color: var(--main-color);
    flex-basis: 60px;
    font-size: 25px;
}

.services .services-content .srv .text {
    flex: 1;
}

.services .services-content .srv .text h3 {
    margin: 0 0 20px;

}

.services .services-content .srv .text p {
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}

.services .services-content .image {
    position: relative;
}

.services .services-content .image::before {
    content: "";
    position: absolute;
    background-color: var(--secondery-color);
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    right: 26px;
    z-index: -1;

}

.services .services-content .image img {
    width: 260px;
    object-fit: contain;
}

@media (max-width: 1199px) {
    .services .services-content .image-column {
        display: none;
    }
}

/* end services  */


/* start portofolio */
.portofolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--background-color);
}

.portofolio .portofolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 50px;
    margin-top: 100px;

}

.portofolio .portofolio-grid .col img {
    width: 100%;
    object-fit: contain;

}

.portofolio .portofolio-grid .col h3 {
    margin: 20px 0 0;
    font-weight: 800;


}

.portofolio .portofolio-grid .col p {
    color: #777;
    line-height: 1.6;
    margin-bottom: 0;

}

.portofolio .portofolio-grid .col {
    background-color: #fff;
    padding: 20px;
}

@media (max-width: 576px) {
    .portofolio .portofolio-grid .col {
        text-align: center;
    }

}

/* end portofolio */


/* start about  */
.about {
    margin-top: var(--section-padding);
    margin-bottom: calc(var(--section-padding) + 60px);
}

.about .h-about h2 {
    margin: 0;

}

.about .h-about {
    margin-bottom: 100px;
}

.about .about-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.about .left-about .image {
    position: relative;
    width: 250px;
    height: 375px;
}

.about .left-about .image img {
    max-width: 100%;
}

.about .left-about .image::before {
    height: calc(100% + 80px);
    content: '';
    position: absolute;
    width: 100px;
    background-color: var(--background-color);
    top: -40px;
    left: -20px;
    z-index: -1;
}

.about .left-about .image::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 315px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    right: -143px;
    top: -40px;
    z-index: -1;
}

@media (max-width: 991px) {

    .about .left-about .image::before,
    .about .left-about .image::after {
        display: none;


    }

    .about .about-flex {
        flex-direction: column;
        text-align: center;
    }


}

.about .right-about {
    flex-basis: calc(100% - 500px);
}

.about .right-about p:first-child {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}

.about .right-about p:last-child {
    line-height: 2;
    color: #777;
}

.about .right-about hr {
    width: 50%;
    display: inline-block;
    border: 1px solid var(--main-color);
}

/* end about */




/* start contact  */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 60px);
    background-color: var(--background-color);
}

.contact .info {
    text-align: center;
    margin: 100px 0;
}



.contact .info p {
    font-size: 35px;
    font-weight: 800;
    color: var(--secondery-color);
    letter-spacing: -2px;

}

.contact .info a {
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
}


.contact .info .social {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.contact .info .social span {
    text-transform: capitalize;
    color: #555;
}

.contact .info .social i {
    color: var(--secondery-color);
    font-size: 17px;
    width: 15px;
}

.footer {
    background-color: var(--secondery-color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}

.footer span {
    font-weight: bold;
    color: var(--main-color);
}

/* end contact */